<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="/static/css/app-css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo"><img src="/static/logo.png" alt="Logo"></a>
					<h4 class="center-align">Portal Informasi Rumah Sakit di Indonesia</h4>
				</div>
			</nav>
		</header>
		<main>
			<h3 class="center-align">Daftar RS di Provinsi {{ provinsi }}</h3>
			<div class="row">
				<div class="col s12">
					<ul class="tabs" id="tabs-data">
						<li class="tab col s6"><a class="active" id="one" onclick="pengelola()">Pengelola</a></li>
						<li class="tab col s6"><a onclick="tipe_kelas()">Tipe Kelas</a></li>
					</ul>
				</div>
				<div id="first-tab">
					<div class="container">
						<!-- return table --> 
						{{tabel_pengelola | safe}}
					</div>
				</div>
				<div id="second-tab">
					<div class="container">
						<!-- return table --> 
						{{tabel_tipe_kelas | safe}}
					</div>
				</div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row">
					<div class="col l2"></div>
					<div class="col l3">
						<a class="waves-effect red lighten-3 btn" onclick="history.back(-1);">KEMBALI</a>
					</div>
					<div class="col l3">
						<form class="form-inline" action="/data-rs/{{provinsi}}">
							<button class="waves-effect pink darken-2 btn">Lihat Daftar Rumah Sakit</button>
						</form>
					</div>
					<div class="col l4"></div>	
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
				© 2019 SemantikJaya
				<a class="grey-text text-lighten-4 right" href="https://github.com/faridansa/hospital-portal"> </> Klik disini untuk melihat kode sumber </> </a>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="/static/js/materialize.min.js"></script>
		<script src ="/static/js/materialize.min.jquery.js"></script>
		<script type="text/javascript">
			function pengelola() {
				document.getElementById('first-tab').style.display='block';
				document.getElementById('second-tab').style.display='none';
			}
			function tipe_kelas() {
				document.getElementById('first-tab').style.display='none';
				document.getElementById('second-tab').style.display='block';
			}
			document.getElementById('one').click();
		</script>
	</body>
</html>
