<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="/static/css/app-css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style type="text/css">
			table.highlight > tbody > tr:hover {
  				background-color: rgba(244, 143, 177, 0.5);
			}
		</style>
	</head>

	<body>
		<h3 class="center-align">Daftar RS di Provinsi {{ provinsi }}</h3>
		<div class="row">
			<div class="col s12">
				<ul class="tabs" id="tabs-swipe">
					<li class="tab col s6"><a class="active" href="#" onclick="loadPengelola()">Pengelola</a></li>
					<li class="tab col s6"><a href="#" onclick="loadTipeKelas()";return false;>Tipe Kelas</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="container">
		      <!-- return table --> {{tabel_pengelola | safe}}
					{{tabel_tipe_kelas  | safe}}
				</div>
		<div class="row">
      <form class="form-inline" action="/data-rs/{{provinsi}}">
  			<button class="waves-effect pink darken-2 btn">Lihat Daftar Rumah Sakit</button>
      </form>
		</div>
		<script>
			function loadPengelola() {
				console.log('load pengelola');
				var tabel_pengelola = {{ tabel_pengelola | safe }};
				document.getElementById("content").innerHTML = tabel_pengelola;
			}

			function loadTipeKelas() {
				console.log('load tipe');
				var tabel_tipe_kelas = {{ tabel_tipe_kelas  | safe }};
				document.getElementById("content").innerHTML = tabel_tipe_kelas;
			}
		</script>
		<script type="text/javascript" src="../static/js/materialize.min.js"></script>
		<script src ="../static/js/materialize.min.jquery.js"></script>
	</body>
</html>
