<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="/static/css/app-css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo"><img src="/static/logo.png" alt="Logo"></a>
					<h4 class="center-align">Portal Informasi Rumah Sakit di Indonesia</h4>
				</div>
			</nav>
		</header>
		<main>
			<div class="container">
				<h5 class="center-align" style="font-weight: bold;">{{ rumah_sakit }}</h5>
				<!-- return data here -->{{detail}}
				<div class="row"></div>
				<div class="row"></div>
				<div class="row">
					<div class="col l4 s6">
						<h6 style="font-weight: bold;">Tipe</h6>
						<h6 style="font-weight: bold;">Alamat</h6>
						<h6 style="font-weight: bold;">Kota/Kabupaten</h6>
						<h6 style="font-weight: bold;">Kode Pos</h6>
						<h6 style="font-weight: bold;">Nomor Telepon<h6>
						<h6 style="font-weight: bold;">Nomor Fax</h6>
						<h6 style="font-weight: bold;">Kelas</h6>
						<h6 style="font-weight: bold;">Pengelola</h6>
					</div>
					<div class="col l8 s6">
						<h6>{{tipe_rs}} </h6>
						<h6>{{alamat_rs}} </h6>
						<h6>{{wilayah_rs}} </h6>
						<h6>{{kode_pos_rs}} </h6>
						<h6>{{no_telp_rs}}</h6>
						<h6>{{no_fax_rs}}</h6>
						<h6>{{kelas_rs}} </h6>
						<h6>{{pengelola_rs}} </h6>
					</div>
			</div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="center-align">
				<a class="waves-effect pink darken-2 btn" onclick="history.back(-1);">KEMBALI</a>
			</div>
			<div class="row"></div>
			<div class="row"></div>
		</main>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
				© 2019 SemantikJaya
				<a class="grey-text text-lighten-4 right" href="https://github.com/faridansa/hospital-portal"> </> Klik disini untuk melihat kode sumber </> </a>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="/static/js/materialize.min.js"></script>
		<script src ="/static/js/materialize.min.jquery.js"></script>
	</body>
</html>
