<!DOCTYPE html>
<html>
    <head>
      	<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../static/materialize.min.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    	<!-- Dropdown Structure -->
		<ul id='dropdown1' class='dropdown-content'>
			<li><a href="#!">one</a></li>
			<li><a href="#!">two</a></li>
			<li class="divider" tabindex="-1"></li>
			<li><a href="#!">three</a></li>
			<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
			<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
		</ul>
		
		<h4>Cari Rumah Sakit berdasarkan Provinsi</h4>
		<!-- Dropdown Trigger -->
  		<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Pilih Provinsi</a>
      	<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="../static/materialize.min.js">
			document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.dropdown-trigger');
		    var instances = M.Dropdown.init(elems, options);
		  	});
		</script>
    </body>
</html>
